/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$Seashell: #FAF5F1;
$SeashellLight40: #969391;
$SeashellLight20: #C8C4C1;
$SeashellDark40: #FBF7F4;
$SeashellDark20: #FCF9F7;
$ChampagnePink: #F0D7D1;
$ChampagnePinkLight40: #969391;
$ChampagnePinkLight20: #F0D7D1;
$ChampagnePinkDark40: #F3DFDA;
$ChampagnePinkDark20: #F6E7E3;
$TeaGreen: #D2ECC6;
$TeaGreenLight40: #969391;
$TeaGreenLight20: #A8BD9E;
$TeaGreenLight20: #D2ECC6;
$TeaGreenDark40: #E4F4DD;
$TeaGreenDark20: #E4F4DD;
$Indigo: #25396C;
$IndigoLight40: #162241;
$IndigoLight20: #1E2E56;
$IndigoDark40: #516189;
$IndigoDark20: #7C88A7;
$RuddyBronze: #6E2A0E;
$RuddyBronzeLight40: #421908;
$RuddyBronzeLight20: #58220B;
$RuddyBronzeDark40: #8B553E;
$RuddyBronzeDark20: #A87F6E;
