.hero img {
    max-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero h1 {
    color: $RuddyBronzeLight40;
    font-size: 64px;
    text-align: center;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 60px;
    font-weight: 600;
}