.main-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: $RuddyBronzeLight40;
    padding-bottom: 65px;
}

.main-content h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: $RuddyBronzeLight40;
}

.main-content h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: $RuddyBronzeLight40;
    padding: 66px;
}

.main-content p {
    // text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $RuddyBronzeLight40;
}

#pink-box {
    background: $ChampagnePinkDark20;
    display: flex; 
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    border-radius: 0px 0px 32px 32px; 
}

#pink-box img {
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#carousel {
    padding-left: 130px;
    padding-top: 50px;
}

#cafeimage {
    display: block;
    margin: auto;
}

#cafetext {
    display: flex; 
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 175px;
}

#cafetext p { 
    font-size: 16px;
    padding-top: 40px;
    margin: 20px;
    line-height: 24px;
}

#cafetext a {
    text-decoration: none;
}

#services {
    text-align: center;
}

#community {
    display: block;
    margin: auto;
}

#communitytext {
    font-size: 24px;
}



