.aboutpeicha {
    width: 100%;
    margin: auto;
    color: $RuddyBronzeLight40;
    padding-left: 16px;
    padding-right: 16px;

    @include lg {
        width: 60%;
    }

    @include md {
        width: 60%;
    }
}

.aboutpeicha h2 {
    text-align: center;
    padding: 40px 0px;
}

.aboutpeicha p {
    padding-top: 50px;
    text-align: justify;
}

.aboutpeicha .p2 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.aboutpeicha img {
    max-width: 100%;
}