.aboutourmission {
    background: #F3DFDA;
    border-radius: 0px 0px 24px 24px;
    text-align: center;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150.02%;
    color: #421908;
    padding-top: 40px;
}

.aboutourmission p {
    color: #421908;
    font-size: 24px;
    padding: 20px 20px 40px 20px;
}